* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #d0f7d3;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}
#mainlogo {
    width: 70px;
    height: 70px;
}
nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #0c8833;
    padding-top: 5px;
}
.navbar-brand {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
}
#navbarNav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px;
}
#navbarNav #logout {
    background-color: #d0f7d3;
    color: #0c8833;
    border-radius: 13px;
}

#navbarNav a:hover {
    border-bottom: 2px solid white;
    border-radius: 5px;
}

.nav-link.active {
    border-bottom: 2px solid white;
    border-radius: 5px;
}

#idform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    border: 5px solid #0c8833;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.7),
        0 10px 30px 0 rgba(0, 0, 0, 0.5);
}
.containerform {
    margin-top: 41px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form label {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
form input {
    width: 300px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    font-size: larger;
    border: 2px solid green;
    border-radius: 10px;
}

form button {
    width: 300px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: larger;
    border: 2px solid green;
    background-color: green;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;
}
form button:hover {
    background-color: green;
    color: white;
    border: 3px solid rgb(132, 233, 132);
}
form h1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    padding-top: 5px;
    text-transform: uppercase;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 56px;
}
