* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
}
#mainlogo {
    width: 70px;
    height: 70px;
}
nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #0c8833;
    padding-top: 5px;
}
.logo-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(213, 247, 215);
    margin-left: 10px;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    list-style: none;
    gap: 30px;
    padding-left: 50px;
}
.logo-title a {
    text-decoration: none;
    color: rgb(213, 247, 215);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
#navbarNav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px;
}
#navbarNav #logout {
    background-color: #d0f7d3;
    color: #0c8833;
    border-radius: 13px;
}
#navbarNav a:hover {
    border-bottom: 2px solid white;
    border-radius: 5px;
}

.nav-link.active {
    border-bottom: 2px solid white;
    border-radius: 5px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #b9ecb9;
}
.tableclass {
    height: 500px;
    overflow: auto;
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c8833;
    color: white;
    height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 3px;
    letter-spacing: 3px;
}
