* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #d0f7d3;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}
#mainlogo {
    width: 70px;
    height: 70px;
}
nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #0c8833;
    padding-top: 5px;
}
.navbar-brand {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
}
#navbarNav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px;
}
#navbarNav #logout {
    background-color: #d0f7d3;
    color: #0c8833;
    border-radius: 13px;
}

#navbarNav a:hover {
    border-bottom: 2px solid white;
    border-radius: 5px;
}

.nav-link.active {
    border-bottom: 2px solid white;
    border-radius: 5px;
}
.addstudent {
    width: 25px;
    height: 25px;
}
.tableclass {
    height: 380px;
    width: 100%;
    overflow: auto;
    margin-top: 10px;
}
.container {
    margin-top: 10px;
    height: 100%;
    width: 100%;
}
tbody tr td {
    height: 40px;
    font-size: 13px;
}
tbody tr td .btn {
    height: 30px;
}
tbody tr:last-child {
    border-bottom: 2px solid green;
}
#editForm input,
label {
    text-transform: uppercase;
}
#addStudentModal label,
input {
    text-transform: uppercase;
}
footer {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    bottom: 0;
}
footer a img {
    width: 25px;
    height: 25px;
}
